
{% extends "base.html" %}
{% block content %}
<h2>Active Directory</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Users</h5>
                <ul class="list-group">
                    {% for user in data.users %}
                    <li class="list-group-item">{{ user }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Groups</h5>
                <ul class="list-group">
                    {% for group in data.groups %}
                    <li class="list-group-item">{{ group }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
