
{% extends "base.html" %}
{% block content %}
<h2>Enumeration</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Live Hosts</h5>
                <ul class="list-group">
                    {% for host in data.live_hosts %}
                    <li class="list-group-item">{{ host }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Open Ports</h5>
                {% for host, ports in data.open_ports.items() %}
                <p><strong>{{ host }}:</strong> {{ ports|join(', ') }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
